@import url('https://fonts.cdnfonts.com/css/post-no-bills-jaffna');
@import "tailwindcss";

@theme {
    --font-main: "Post No Bills Jaffna ExtraBold", sans-serif; 
}

body {
    @apply font-main;
}

canvas {
  position:absolute;
  width:100%;
  height:100%;
  -webkit-transform3d: translate(0,0,0);
  -moz-transform3d: translate(0,0,0);
  transform3d: translate(0,0,0);
}