@import url('https://fonts.cdnfonts.com/css/post-no-bills-jaffna');
@import "tailwindcss";

@theme {
    --font-main: "Post No Bills Jaffna ExtraBold", sans-serif; 
}

body {
    @apply font-main;
}

canvas {
  position:absolute;
  width:100%;
  height:100%;
  -webkit-transform3d: translate(0,0,0);
  -moz-transform3d: translate(0,0,0);
  transform3d: translate(0,0,0);
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #374151;
}

::-webkit-scrollbar-thumb {
  background: #fb923c;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f97316;
}
